image: node:20

pipelines:
  branches:
    develop:
      - step:
          name: Deploy (develop)
          script:
            - printf '%s' "$GOOGLE_APPLICATION_CREDENTIALS_JSON" > firebase-key.json
            - export GOOGLE_APPLICATION_CREDENTIALS="$PWD/firebase-key.json"
            - npm install -g firebase-tools
            - firebase deploy --only hosting:develop --non-interactive

    main:
      - step:
          name: Deploy (production)
          script:
            - printf '%s' "$GOOGLE_APPLICATION_CREDENTIALS_JSON" > firebase-key.json
            - export GOOGLE_APPLICATION_CREDENTIALS="$PWD/firebase-key.json"
            - npm install -g firebase-tools
            - firebase deploy --only hosting:production --non-interactive
