image: google/cloud-sdk:alpine

pipelines:
  branches:
    develop:
      - step:
          name: Deploy Flask App to Cloud Run
          script:
            # Authenticate with Google Cloud
            - echo $GCLOUD_SERVICE_KEY | base64 -d > ${HOME}/gcloud-service-key.json
            - gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
            - gcloud config set project melodymap-cs-3398
            # Deploy to Cloud Run
            - gcloud run deploy melody-map --source . --region us-central1 --allow-unauthenticated --clear-base-image

    main:
      - step:
          name: Deploy Flask App to Cloud Run (Production)
          script:
            # Authenticate with Google Cloud
            - echo $GCLOUD_SERVICE_KEY | base64 -d > ${HOME}/gcloud-service-key.json
            - gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
            - gcloud config set project melodymap-cs-3398
            # Deploy to Cloud Run
            - gcloud run deploy melody-map --source . --region us-central1 --allow-unauthenticated --clear-base-image
