{% extends "layout.html" %}

{% block content %}
<div class="privacy-container">
  <h2>Privacy Policy</h2>

  <p>
    Your privacy is important to us. This page explains what data Melody Map
    collects, how it is used, and your control over that data.
  </p>

  <h3>Data We Collect</h3>
  <p>
    Melody Map retrieves your Spotify profile information and currently playing
    track only when you log in with Spotify. We do not retain any of this data after the session ends. 
  </p>

  <h3>How We Use Your Data</h3>
  <p>
    We only use your Spotify data to personalize your map experience,
    display your listening activity, and add songs to your Spotify queue. We do not share or sell any data. We only access what is absolutely nessecary for Melody Map to function.
  </p>

  <h3>How To Remove Access to Your Spotify</h3>
  <p>
    You can disconnect your Spotify account at any time by selecting
    <strong>Logout</strong> from the top navigation menu.
  </p>

  <h3>Thank You!</h3>
</div>
{% endblock %}
