
/* makes a place for the image to sit in */
.mapContainer{
    postion: relative;
    overflow: hidden;
  width: 100%;
  height: 500px;
}

/* messes with the map image itself */

.map-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* smooth zoom */
  z-index: 0; /* keeps on lowest layer (so behind the buttons) */
}


/* make the buttons stay at the top right, away from the map */
button {
  position: fixed;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000; /* makes sure they're always on top layer */
}
/* puts the buttons on top of each other */
#zoomIn {
  top: 10px;
}
#zoomOut {
  top: 55px; 
}